/* Effetto hide-on-scroll sul NAV */
#siteNavbar {
  transition: top 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 1030;

  &.hidden {
    top: -80px;
  }
}

/* Spaziatura del bottone in mobile */
@media (max-width: 991.98px) {
  .bottoneLoginOut {
    margin-top: 0.5rem !important;
  }

  /* mt-2 */
}

/* Paracadute: forza visibile il contenuto collassabile in desktop */
@media (min-width: 992px) {
  #navbarContent {
    display: flex !important;
  }
}

.navbar {
  border-radius: 25px;
}

.navbar-brand {
  text-decoration: underline;
  /*font-family: serif;*/
  font-style: italic;
  font-weight: lighter;
}

.bg-nav-custom {
  background: #040036;
  background: linear-gradient(270deg, rgb(11, 6, 93) 0%, rgb(6, 6, 45) 75%);
}