<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
  <div class="container-fluid">
    <!-- Logo e titolo -->
    <a class="navbar-brand" routerLink="/collezione">MyMoviesCollection</a>

    <!-- Navigazione tra pagine -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/inserimento" routerLinkActive="active">Inserimento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/collezione" routerLinkActive="active">Collezione</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/lista-desideri" routerLinkActive="active">Lista desideri</a>
      </li>
    </ul>

    <form (ngSubmit)="onSubmit()" class="d-flex ms-auto align-items-center gap-2" role="search">
      <input class="form-control" type="search" placeholder="Cerca film" aria-label="Cerca" [(ngModel)]="query"
        name="query" (keydown.enter)="onSubmit(); $event.preventDefault();" />

      <!-- Bottone Pulisci: appare solo se c'è testo -->
      <button *ngIf="query" type="button" class="btn btn-outline-secondary" (click)="clearSearch()"
        aria-label="Pulisci ricerca">
        Pulisci
      </button>

      <button class="btn btn-outline-success" type="submit">Cerca</button>
    </form>



  </div>
</nav>