/* Effetto hide-on-scroll sul NAV */
#siteNavbar {
  transition: top 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 1030;

  &.hidden {
    top: -80px;
  }
}

@media (max-width: 768px) {
  .insManual {
    margin-bottom: 1rem !important;
  }

  .bottoneLoginOut {
    margin-top: 1rem !important;
  }
}
.navbar-brand {
  /*text-decoration: underline;*/
  /*font-family: serif;*/
  font-style: italic;
  font-weight: lighter;
}

.bg-nav-custom {
  background: #040036;
  background: linear-gradient(270deg, rgb(11, 6, 93) 0%, rgb(6, 6, 45) 75%);
}