#mainNavbar {
  transition: top 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 1030;

  &.hidden {
    top: -80px; // altezza approssimativa della navbar
  }
}

@media (max-width: 991.98px) {
    .bottoneLoginOut {
        margin-top: 0.5rem !important;  /*mt-2 */
    }
}