<div class="container">
  <h2>Inserimento Film</h2>

  <!-- Form -->
<form class="d-flex my-4" role="search" (ngSubmit)="cercaFilm()" #form="ngForm">
  <input type="search" class="form-control me-2" placeholder="Cerca un film..." [(ngModel)]="query" name="query">
  <button class="btn btn-primary" type="submit">Cerca</button>
</form>

<!-- Nessun risultato -->
<div *ngIf="ricercaEffettuata && film.length === 0" class="alert alert-warning mt-3">
  Nessun film trovato per "{{ ultimaQuery }}".
</div>

<!-- Alert solo dopo la ricerca -->
<div *ngIf="ricercaEffettuata && film.length === 0" class="alert alert-warning">
  Nessun film trovato per "{{ query }}".
</div>

<!-- Risultati -->
<div *ngIf="film.length > 0">
  <div *ngFor="let f of film" class="card mb-3">
    <img [src]="'https://image.tmdb.org/t/p/w500' + f.poster_path" class="card-img-top" *ngIf="f.poster_path" />
    <div class="card-body">
      <h5 class="card-title">{{ f.title }}</h5>
      <p class="card-text">{{ f.overview }}</p>
      <button class="btn btn-success">Aggiungi alla collezione</button>
    </div>
  </div>
</div>



</div>
