body {
  background-color: whitesmoke;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  #dc3545; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bb2d3b; 
}

/* Regola globale per azzerare il margine dei paragrafi nelle card */
.card .mt-auto p {
  margin-bottom: 0 !important; /* Valore ridotto per un po' di respiro */
}

/* "Altezza" bottone apertura dettagli */
.accordion-button {
  padding: 8px 20px;
}