.card {
  .card-img-top {
    height: 400px;
    object-fit: cover;
    width: 100%;
  }

  .card-title {
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita a 2 righe */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Mostra i puntini di sospensione */
    margin-bottom: 0px !important;
  }
}

@media (max-width: 767.98px) {
  .colSmart {
    display: flex;
    justify-content: center;
  }

  .dettagli {
    padding-top: 0;
    padding-bottom: 0;
  }
}
